In [ ]:
import pandas as pd

trip=pd.read_csv('/content/tripforfeatureeng (3).csv')

In [36]:
trip.head()

   Duration  Distance  Haversine  Pmonth  ...  Solar  Snow  GroundTemp  Dust
0        72     13620   3.951102       1  ...   0.15   0.0        -3.6  28.0
1         4      1130   0.864266       1  ...   0.15   0.0        -3.6  28.0
2        30      6850   3.787670       1  ...   0.15   0.0        -3.6  28.0
3         4      1080   0.705525       1  ...   0.15   0.0        -3.6  28.0
4         3       630   0.540024       1  ...   0.15   0.0        -3.6  28.0

[5 rows x 18 columns]

In [ ]:
trip.drop(columns={'Unnamed: 0'},axis=1,inplace=True)

In [ ]:
trip.head()

   Duration  Distance  Haversine  Pmonth  ...  Solar  Snow  GroundTemp  Dust
0        72     13620   3.951102       1  ...   0.15   0.0        -3.6  28.0
1         4      1130   0.864266       1  ...   0.15   0.0        -3.6  28.0
2        30      6850   3.787670       1  ...   0.15   0.0        -3.6  28.0
3         4      1080   0.705525       1  ...   0.15   0.0        -3.6  28.0
4         3       630   0.540024       1  ...   0.15   0.0        -3.6  28.0

[5 rows x 18 columns]

In [ ]:
trip.shape

(87791, 18)

In [ ]:
X = trip.drop(labels=["Duration"], axis = 1)
y = trip["Duration"]

In [ ]:
X.head()

   Distance  Haversine  Pmonth  Pday  ...  Solar  Snow  GroundTemp  Dust
0     13620   3.951102       1     1  ...   0.15   0.0        -3.6  28.0
1      1130   0.864266       1     1  ...   0.15   0.0        -3.6  28.0
2      6850   3.787670       1     1  ...   0.15   0.0        -3.6  28.0
3      1080   0.705525       1     1  ...   0.15   0.0        -3.6  28.0
4       630   0.540024       1     1  ...   0.15   0.0        -3.6  28.0

[5 rows x 17 columns]

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=101)

In [ ]:

from sklearn.feature_selection import RFE
from sklearn.ensemble import RandomForestRegressor

In [ ]:
rfe = RFE(estimator=RandomForestRegressor(), n_features_to_select=10)
X_train_rfe = rfe.fit_transform(X_train,y_train)
X_test_rfe = rfe.transform(X_test)

In [ ]:
X_test_rfe

array([[1.16000000e+03, 8.29587766e-01, 8.00000000e+00, ...,
        6.10000000e+01, 1.00000000e-02, 3.50000000e+01],
       [8.69000000e+03, 6.70818224e+00, 1.60000000e+01, ...,
        2.70000000e+01, 6.50000000e-01, 5.10000000e+01],
       [3.26000000e+03, 2.05855603e+00, 1.10000000e+01, ...,
        7.50000000e+01, 5.40000000e-01, 4.10000000e+01],
       ...,
       [2.83000000e+03, 2.23681578e+00, 1.60000000e+01, ...,
        3.00000000e+01, 7.70000000e-01, 3.20000000e+01],
       [5.40000000e+02, 4.71696992e-01, 1.00000000e+01, ...,
        3.90000000e+01, 5.40000000e-01, 3.80000000e+01],
       [1.22000000e+03, 8.35018664e-01, 1.40000000e+01, ...,
        5.30000000e+01, 7.40000000e-01, 8.40000000e+01]])

LINEAR REGRESSION

In [ ]:
from sklearn.linear_model import LinearRegression

from sklearn.metrics import mean_squared_error
LR=LinearRegression()

LR.fit(X_train_rfe,y_train)

LinearRegression()

In [ ]:
predictions=LR.predict(X_test_rfe)

In [ ]:
import numpy as np
from sklearn.metrics import  mean_absolute_error, mean_squared_error, r2_score

In [ ]:
print(f'Testing score : {LR.score(X_test_rfe,y_test)}')
print(f'Training score : {LR.score(X_train_rfe, y_train)}')

print('r2 score:', r2_score(y_test, predictions))
print('MAE:', mean_absolute_error(y_test, predictions))
print('MSE:', mean_squared_error(y_test, predictions))
print('RMSE:', np.sqrt(mean_squared_error(y_test, predictions)))

Testing score : 0.9415973871891912
Training score : 0.9227477099759216
r2 score: 0.9415973871891912
MAE: 1.3291890962955883
MSE: 23.06280485383163
RMSE: 4.802374918082888

DECISION TREE REGRESSOR

In [ ]:
from sklearn.tree import DecisionTreeRegressor

dt=DecisionTreeRegressor(splitter='random',max_depth=5,criterion='friedman_mse',max_features=0.5)
dt.fit(X_train_rfe,y_train)

DecisionTreeRegressor(criterion='friedman_mse', max_depth=5, max_features=0.5,
                      splitter='random')

In [ ]:
predictions=dt.predict(X_test_rfe)

In [ ]:
dt.get_params()

{'ccp_alpha': 0.0,
 'criterion': 'friedman_mse',
 'max_depth': 10,
 'max_features': None,
 'max_leaf_nodes': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'random_state': None,
 'splitter': 'random'}

In [ ]:
print(f'Training score : {dt.score(X_train_rfe, y_train)}')


print('r2 score:', r2_score(y_test, predictions))
print('MAE:', mean_absolute_error(y_test, predictions))
print('MSE:', mean_squared_error(y_test, predictions))
print('RMSE:', np.sqrt(mean_squared_error(y_test, predictions)))

Training score : 0.37523919678048656
r2 score: 0.35736008343172443
MAE: 9.526335641429728
MSE: 253.77424525694818
RMSE: 15.930293319865399

DECISION TREE REGRESSOR WITH HYPERPARAMETER OPTIMIZATION

In [ ]:
from sklearn.model_selection import GridSearchCV

param_grid={"criterion": ["squared-error","friedman_mse","absolute_error"],
            "splitter": ["best","random"],
            "max_depth":[1,2,3,4,5,6,7,None]}

In [ ]:
param_grid

{'criterion': ['squared-error', 'friedman_mse', 'absolute_error'],
 'max_depth': [1, 2, 3, 4, 5, 6, 7, None],
 'splitter': ['best', 'random']}

In [ ]:
grid=GridSearchCV(dt,param_grid,cv=10,n_jobs=-1)

In [ ]:
grid.fit(X_train_rfe,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:372: FitFailedWarning:
160 fits failed out of a total of 480.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
160 fits failed with the following error:
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/tree/_classes.py", line 1320, in fit
    X_idx_sorted=X_idx_sorted,
  File "/usr/local/lib/python3.7/dist-packages/sklearn/tree/_classes.py", line 356, in fit
    criterion = CRITERIA_REG[self.criterion](self.n_outputs_, n_samples)
KeyError: 'squared-error'

  warnings.warn(some_fits_failed_message, FitFailedWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_search.py:972: UserWarning: One or more of the test scores are non-finite: [        nan         nan         nan         nan         nan         nan
         nan         nan         nan         nan         nan         nan
         nan         nan         nan         nan  0.20441443  0.11491251
  0.38195718  0.1918148   0.468117    0.23163473  0.49613252  0.29341299
  0.51839419  0.34538878  0.55552913  0.37055802  0.58934271  0.44069444
  0.48259296  0.6648913   0.18501048 -0.01528688  0.25584647  0.0928262
  0.42579096  0.15960114  0.45899336  0.1695346   0.50289768  0.244376
  0.53953273  0.31774985  0.55963688  0.3388773   0.39243696  0.61437462]
  category=UserWarning,

GridSearchCV(cv=10,
             estimator=DecisionTreeRegressor(criterion='friedman_mse',
                                             max_depth=5, max_features=0.5,
                                             splitter='random'),
             n_jobs=-1,
             param_grid={'criterion': ['squared-error', 'friedman_mse',
                                       'absolute_error'],
                         'max_depth': [1, 2, 3, 4, 5, 6, 7, None],
                         'splitter': ['best', 'random']})

In [37]:
grid.best_params_

{'criterion': 'friedman_mse', 'max_depth': None, 'splitter': 'random'}

In [38]:
from sklearn.tree import DecisionTreeRegressor

dt=DecisionTreeRegressor(splitter='random',criterion='friedman_mse')
dt.fit(X_train_rfe,y_train)

DecisionTreeRegressor(criterion='friedman_mse', splitter='random')

In [39]:
predictions=dt.predict(X_test_rfe)

In [40]:
print(f'Training score : {dt.score(X_train_rfe, y_train)}')


print('r2 score:', r2_score(y_test, predictions))
print('MAE:', mean_absolute_error(y_test, predictions))
print('MSE:', mean_squared_error(y_test, predictions))
print('RMSE:', np.sqrt(mean_squared_error(y_test, predictions)))

Training score : 0.9999998869041351
r2 score: 0.6597165986522273
MAE: 5.391607435757244
MSE: 134.37566065245124
RMSE: 11.592051615328982

RANDOM FOREST

In [53]:
rf = RandomForestRegressor(n_estimators=80,max_depth=100)
rf.fit(X_train_rfe,y_train)

RandomForestRegressor(max_depth=100, n_estimators=80)

In [54]:
predictions=rf.predict(X_test_rfe)

In [55]:
print(f'Training score : {rf.score(X_train_rfe, y_train)}')
print('r2 score:', r2_score(y_test, predictions))
print('MAE:', mean_absolute_error(y_test, predictions))
print('MSE:', mean_squared_error(y_test, predictions))
print('RMSE:', np.sqrt(mean_squared_error(y_test, predictions)))

Training score : 0.9657508290262697
r2 score: 0.7546011428526453
MAE: 4.653781345734941
MSE: 96.90638280305332
RMSE: 9.844103961410267

WE OBSERVE THAT THE LINEAR REGRESSION MODEL IS GIVING US THE LOWEST MSE AND THE HIGHEST R2_SCORE,HENCE WE GO AHEAD WITH THAT MODEL FOR THIS DATASET

WE DON'T REALLY BOOSTING REGRESSOR MODELS IN THIS CASE AS LINEAR REGRESSION ITSLEF IS PERFORMING VERY WELL

In [56]:
import joblib
joblib.dump(LR, "linear_regression_model.pkl")

['linear_regression_model.pkl']